
*{
  box-sizing: border-box;
}

body{
  background: hsl(233, 47%, 7%);
  font-size: 15px;
}
.card{
  display: flex;
  flex-direction: row-reverse;
  font-family: Inter;
  margin: 185px 210px 150px 225px;
  border-radius: 5px;
  background: hsl(244, 38%, 16%);
}
.img-desktop>img{
  display: block;
  width: 450px;
  height: 350px;
  mix-blend-mode: multiply;
  opacity: 0.8;
  border-radius: 0px 5px 5px 0px;
}
.img-mobile>img{
  display: none;
}
.img-desktop{
  display: block;
  width: auto;
  height: 350px;
  background: hsl(277, 64%, 61%);
  border-radius: 0px 5px 5px 0px;
}
.img-mobile{
  display: none
}
span{
  color: hsl(277, 64%, 61%);
}
.card-body{
  width: 300px;
  height: 300px;
  padding-top: 20px;
  margin-right: 90px;
  color: hsl(0, 0%, 100%);
}
.card-body h3{
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 18px;
  color: hsl(0, 0%, 100%);
}
.card-body p{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: hsla(0, 0%, 100%, 0.75);
}
.card-footer{
  width: 270px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.resources p{
  font-weight: 700;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}
.resources span{
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.6);
}
@media( max-width: 600px ){

  body{
    background: hsl(233, 47%, 7%);
    font-size: 15px;
  }
  .card{
    width: 330px;
    height: 810px;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    margin: 50px 40px 30px 50px;
    border-radius: 5px;
    background: hsl(244, 38%, 16%);
  }

  .img-desktop>img{
    display: none;
  }
  .img-mobile>img{
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
    border-radius: 5px 5px 0px 0px;
  }
  .img-desktop{
    display: none;
  }
  .img-mobile{
    display: block;
    width: auto;
    height: 250px;
    background: hsl(277, 64%, 61%);
    border-radius: 5px 5px 0px 0px;
  }
  span{
    color: hsl(277, 64%, 61%);
  }
  .card-body{
    width: 350px;
    height: 100%px;
    padding-top: 20px;
    color: hsl(0, 0%, 100%);
  }
  .card-body h3{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 18px;
    padding: 0px 40px 0px 20px;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }
  .card-body p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    padding: 0px 70px 0px 50px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
  }
  .card-footer{
    width: auto;
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .resources p{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }
  .resources span{
    font-family: Lexend Deca;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.6);
  }


}
